<!DOCTYPE html>
<html>
  <head>
    <meta charest="utf-8" />
    <title>Nomor Antrian Anjungan Mandiri</title>
    <style>
        .container { 
            height: 204.5mm;
            width: 55.5mm;
            position: relative;
            border: 1px solid black; 
        }
        
        .center {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 23%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
    </style>
  </head>
  <body>
	<br/>
    <div class="container">
        <div class="center">
            <h1>{{numbers}}</h1>
            <h5 style="margin-top:-10%">{{date_visit}}</h5>
        </div>
    </div>
  </body>
</html>
